# These files are kept by Qt Creator and does not actually belong to the source file set. 
GammaRay.pro.user*
libCalcScripting.pro.user*

# Temporary file created by Microsoft Word when editing GammaRayManual.docx
docs/~*.docx

# Some editor keeps these *.autosave files and sometimes it leaves them over
*.autosave

# recent versions of Qt creator sometimes leave tmp files in the sources directory.
*~*.TMP
