# These files are kept by Qt Creator and does not actually belong to the source file set. 
GammaRay.pro.user*

# Temporary file created by Microsoft Word when editing GammaRayManual.docx
docs/~*.docx
