# These files are kept by Qt Creator and does not actually belong to the source file set. 
GammaRay.pro.user*
libCalcScripting.pro.user*

# Temporary file created by Microsoft Word when editing GammaRayManual.docx
docs/~*.docx

# Some editor keeps these *.autosave files and sometimes it leaves them over
*.autosave

# recent versions of Qt creator sometimes leave tmp files in the sources directory.
*~*.TMP

# Only Conan 2+ is supported.
conan_recipes

# Conan 2 now creates these JSON files in the test package subdirectories.
#              |---------package name
#              | |-------version
#              V V
conan2_recipes/*/*/test_package/CMakeUserPresets.json
